[submodule "deepcut-cnn"]
	path = deepcut-cnn
	url = https://github.com/eldar/deepcut-cnn.git
[submodule "toolbox"]
	path = toolbox
	url = https://github.com/pdollar/toolbox.git
[submodule "pose-hg-demo"]
	path = pose-hg-demo
	url = https://github.com/anewell/pose-hg-demo.git
[submodule "keypoint-matlab"]
	path = keypoint-matlab
	url = https://gitlab.com/vggdemo/keypoint_matlab_demo.git
